@import "./Constants.scss";

@font-face {
    font-family: "Graphik Medium";
    src: url("../fonts/Graphik-Medium.woff2") format("woff2"),
      url("../fonts/Graphik-Medium.woff") format("woff");
    font-style: normal;
}

@font-face{
    font-family: "Graphik Regular";
    src: url("../fonts/Graphik-Regular.woff2") format("woff2"),
      url("../fonts/Graphik-Regular.woff") format("woff");
    font-style: normal;
}

@font-face{
    font-family: "Ogg Roman";
    src: url("../fonts/Ogg\ Roman.woff2") format("woff2"),
      url("../fonts/Ogg\ Roman.woff") format("woff");
    font-style: normal;
}

html {
    font-size: 6px;
    @media screen and (min-width: $sm) {
      font-size: 8px;
    }
    @media screen and (min-width: $md) {
      font-size: 10px;
    }
}

h1{
    font-family: "Ogg Roman", sans-serif;
    font-size: 7.2rem;
    color:white;
}

h2{
    font-family: "Ogg Roman", sans-serif;
    font-size: 3.6rem;
    color: black;
    text-align: center;
    line-height: 128.4%;
}

h3{
    font-family: "Ogg Roman", sans-serif;
    font-size: 2.4rem;
    color: black;
    line-height: 128.4%;
}

h4{
  font-family: "Graphik Medium";
  font-size: 1.4rem;
  color: black;
  font-weight: 500;
}

p{
    font-family: "Graphik Regular";
    font-size: 1.8rem;
    line-height: 160.6%;
    letter-spacing: -1%;
    color: black;
}


